doctype html
html(lang='fr')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Save the date Front - 2022

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/kanoma-logo.png')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css', rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Navigation
        nav.navbar.navbar-light.bg-light.static-top
            .container
                    .col-lg-3
                        img.w-100(src='assets/img/kanoma-logo-horizontal.png', alt='...')

        // Masthead
        header.masthead
            .container.position-relative
                .row.justify-content-center
                    .col-xl-6
                        .text-center.text-secondary.bg-primary.bg-opacity-100
                            // Page heading
                            h1.mb-5 Save the date Front - 2022

        // Icons Grid
        section.features-icons.bg-light.text-center
            .container
                .row
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.bi-window.m-auto.text-primary
                            h3.text-primary Tecklunch
                            p.lead.mb-0 Partage d'expérience autour d'un sujet et d'un sandwich. 🥪
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.bi-layers.m-auto.text-primary
                            h3.text-primary Jujitchue
                            p.lead.mb-0 Format dojo, un objectif à atteindre ensemble. Let's code. 🎯
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.bi-terminal.m-auto.text-primary
                            h3.text-primary Formation
                            p.lead.mb-0 Je vous accompagne pour progresser sur un sujet tech. 🎓

        // Image Showcases
        section.showcase
            .container-fluid.p-0
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/codeceptjs.png');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2.text-primary Tecklunch - 18 Jan 2022 - 13h
                        p.lead.mb-0
                            | Présentation de CodeceptJs, librairie de test e2e pour faciliter l'écriture de vos tests automatisés.<br/>
                            | Format : Présentiel & visio<br/>
                            | Durée : 20min<br/>
                .row.g-0
                    .col-lg-6.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-2.jpg');")
                    .col-lg-6.my-auto.showcase-text
                        h2.text-primary Jujitchue - 10 Fév 2022 - 18h30 - Part 1
                        p.lead.mb-4
                            | Découvrons ensemble les élèments de base des web components.<br/>
                            | Format : Dojo présentiel<br/>
                            | Durée : 1h30<br/>
                        h2.text-primary Jujitchue - 17 Mar 2022 - 18h30 - Part 2
                        p.lead.mb-0
                            | Utilisons les web components pour créer ensemble le styleguide de Kanoma.<br/>
                            | Format : Dojo présentiel<br/>
                            | Durée : 1h30<br/>
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/formation.jpg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2.text-primary Formation - 10 Mai 2022 - 14h
                        p.lead.mb-0
                            | Formation sur le flow pattern, au programme Redux, RTKQ, Rxjs, etc.<br/>
                            | Format : Présentiel sur inscription (5-8 places disponibles)<br/>
                            | Durée : demi journée<br/>
                
        // Testimonials
        section.testimonials.text-center.bg-light
            .container
                h2.mb-5.text-primary Speaker
                .row
                    .col-lg-6
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='assets/img/avatar.png', alt='...')
                            h5.text-primary Cyril H.
                            p.font-weight-light.mb-2 Mtg Player 🎲<br/>
                                | Video Game Dreamer 🎮<br/>
                                | Comics Lover 📚<br/>
                                
                    .col-lg-6.my-auto.showcase-text
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            h5.text-primary.mb-3  Expert front et accessibilité<br/>
                                | En mission à la Société Générale.
                            p.lead.mb-0  "J'accorde de l'importance aux concepts de base dans le developpement web.<br/>
                                | Mes valeurs : le partage et la curiosité."

        // Call to Action
        section#signup.call-to-action.text-white.text-center
            .container.position-relative
                .row.justify-content-center
                    .col-xl-6
                        .text-center.text-secondary.bg-primary.bg-opacity-100
                            // Page heading
                            h2.mb-4 À bientôt !

        // Footer
        footer.footer.bg-light
            .container
                .row
                    .col-lg-6.h-100.text-center.text-lg-start.my-auto
                        p.text-muted.small.mb-4.mb-lg-0 &copy; By Cyril H. with ❤️ 2021. All Rights Reserved.
                    .col-lg-6.h-100.text-center.text-lg-end.my-auto
                        ul.list-inline.mb-0
                            li.list-inline-item.me-2
                                a(href='https://horsty.fr', target="_blank")
                                    i.bi-pencil-square.fs-3
                            li.list-inline-item.me-2
                                a(href='https://www.linkedin.com/in/cyril-hue/', target="_blank")
                                    i.bi-linkedin.fs-3
                            li.list-inline-item.me-2
                                a(href='https://twitter.com/cy_hue', target="_blank")
                                    i.bi-twitter.fs-3
                            li.list-inline-item.me-2
                                a(href='https://gitlab.com/Horsty', target="_blank")
                                    i.bi-git.fs-3
                            li.list-inline-item.me-2
                                a(href='https://github.com/Horsty80', target="_blank")
                                    i.bi-github.fs-3

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')